name: Build and push frontend image

on:
  push:
    branches: [ "main" ]
    paths:
      - "guestbook-frontend/**"
      - ".github/workflows/frontend-docker.yml"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./guestbook-frontend
          push: true
          tags: |
            ghcr.io/serhatbilge1993/guestbook-frontend:latest
